h1,h2{
    text-align: center;
}

body{
    background-color: lightgrey;

}
section{
    background-color: white;
    opacity: 0.85;
    padding: 40px;
    width: 900px;
    margin: auto;
    text-align: justify;
    border: hidden;
    border-radius: 5px;
}
footer{
    
    
    color: white;
    text-align: center;
    
    
}
